* {
    margin: 0;
    padding: 0;
}

.video-devices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.video-device {
    width: 100%;
    height: 300px;
    background-color: black;
}