form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

#submit-button {
  background-color: rgb(65, 105, 225);
  border-radius: 1rem;
  color: white;
  border-color: rgb(65, 105, 225);
  padding: 3px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 2px;
}